/* App styles */
.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Inter, Helvetica, Arial;
}

.content {
  flex: 1;
  background-color: #f7f7f7;
  padding: 48px 56px;
  overflow-y: auto;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
