.page {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 1000px;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.cards {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(320px, 1fr)); */
    gap: 32px;
}

.card {
    padding: 32px;
    border-radius: 18px;
    background-color: #ededed;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.card h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.card:hover {
    background-color: #e2e2e2;
}

